{% extends 'index.html' %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
{% endblock %}
{% block header %}
    <header>
        <nav class="navbar">
            <a href="#" class="mx-2">
                <img src="{{url_for('static' , filename='images/logo.png' )}}" alt="Learn app logo" width="40">
            </a>
            <h4 class="text-light mx-2">Admin</h4>
        </nav>
    </header>
{% endblock %}
{% block content %}
    <main class=" gap-5 d-flex flex-row align-items-start justify-content-around p-2">
        <ul class="list-group sidebar">
            <li class="list-group-item list-group-item-action list-group-item-info active" aria-current="true" id="category"> <a href="#" class="nav-link"> Add category </a></li>
            <li class="list-group-item list-group-item-action list-group-item-info" id="course"><a href="#" class="nav-link" onclick="getInfo('{{categories_json}}')"> Add Course</a></li>
            <li class="list-group-item list-group-item-action list-group-item-info" id="record"><a href="#" class="nav-link" onclick="getInfo('{{courses}}')"> Add Record </a></li>
        </ul>
        <div class="flex-fill text-light rounded-3 p-3 mb-2 border border-5">
            <h3 class="text-center">Add <span id="title">Category</span></h3>
            <div class="row gap-2">
                <div class="col-12 form-group rounded p-3">
                    <div id="alertMessage"></div>
                    <form action="/admin_actions" method="POST" id="form" enctype="multipart/form-data">
                        <div class="mb-3 form-group">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="my-3 form-group">
                            <label class="fw-bold" for="category-description">Description</label>
                            <textarea class="form-control" id="category-description" rows="3" name="description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="rounded-3 p-3 mb-2 border border-5">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>User name</th>
                        <th>User email</th>
                        <th> Rol </th>
                    </tr>
                </thead>
                <tbody class="text-light">
                    {% for user in users %}
                        <tr>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <form action="/update_role" class="d-flex justify-content-between" method="post">
                                    <div class="form-group">
                                        <select class="form-select" name="rol_id">
                                            <option>{{user.rol}}</option>
                                            {% for rol in roles %}
                                                {% if user.rol != rol.rol %}
                                                <option value="{{rol.id}}">{{rol.rol}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="id" value="{{user.id}}">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update Rol</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

{% endblock %}
{% block footer %}
    <footer id="footer" class="text-center p-3 container-fluid">
        <p>LearnApp &copy; 2022</p>
    </footer>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax_validation.js') }}"></script>
{% endblock %}
