{% extends 'index.html' %}
{% block style %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
{% endblock %}
{% block header %}
    <header>
        <nav class="navbar">
            <a href="#" class="mx-2">
                <img src="{{url_for('static' , filename='images/logo.png' )}}" alt="Learn app logo" width="40">
            </a>
            <h4 class="text-light mx-2">Admin</h4>
        </nav>
    </header>
{% endblock %}
{% block content %}
    <main class="text-light d-flex gap-1 flex-wrap p-2">
        <ul class="list-group sidebar">
            <li class="list-group-item list-group-item-action list-group-item-info active" aria-current="true" id="category"> <a href="#" class="nav-link"> Add category </a></li>
            <li class="list-group-item list-group-item-action list-group-item-info" id="course"><a href="#" class="nav-link" > Add Course</a></li>
            <li class="list-group-item list-group-item-action list-group-item-info" id="record"><a href="#" class="nav-link" > Add Record </a></li>
        </ul>
        <div class="container form">
            <h3 class="text-center">Add <span id="title">Category</span></h3>
            <div class="row gap-2">
                <div class="col-12 form-group rounded p-3">
                    <div id="alertMessage"></div>
                    <form action="/create_category" method="POST" id="form">
                        <div class="mb-3 form-group">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="my-3 form-group">
                            <label class="fw-bold" for="category-description">Description</label>
                            <textarea class="form-control" id="category-description" rows="3" name="description" onkeydown="autoGrow(this)" onkeyup="autoGrow(this)"></textarea>
                        </div>
                        <select class="form-select visually-hidden" aria-label="Default select example" name="course_id" id="courseCategory">
                            {% for category in categories %}
                                <option value="{{category.id}}" name="category_id">{{category.name}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    <footer id="footer" class="text-center p-3 container-fluid">
        <p>LearnApp &copy; 2022</p>
    </footer>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/text_area_grow.js') }}"></scripts>
{% endblock %}
