{% extends 'index.html' %}
{% block logo_title %} {{category.name}} Category {% endblock %}

{% block content %}
<main class="continer">
    <div class="container text-light">
        <h5 class="text-center"> {{category.description}} </h5>
    </div>
    <div class="row">
        {% if courses %}
            {% for course in courses %}
            <div class="col-12 col-md-4 col-lg-3 ">
                <div class=" rounded-3 p-3 mb-2 border border-5 card bg-light mx-3 my-3 py-3 px-3" style="width: 18rem;">
                    <h6><strong>Name:</strong> <a class="text-success" href="/courses/{{course.id}}">{{course.name}}</a></h6>
                    <p><strong>Instructor:</strong> {{ course.instructor_name }}</p>
                    <div id="alertMessage"></div>
                    <form id="form" action="/enroll" method="post">
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <input type="hidden" name="course_id" value="{{course.id}}">
                        <button type="submit" class="btn btn-primary">Enroll</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='js/ajax_validation.js') }}"></script>
{% endblock %}
