{% extends 'index.html' %}

{% block content %}
<body class="container col-12 pt-4">
    <div class="d-flex flex-row align-items-center justify-content-center mb-5">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid" width="150px" height="150px">
        <h2 class="text-info"> Welcome To Learn App</h2>
    </div>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 ">
                {% if course_user %}
                <ol class="navbar-nav">
                    {% for c in course_user %}
                    <li class="list-item"><a class="nav-link" href="/courses/{{c.id}}"></a>{{c.name}}</li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
        </div>
        <ol>
            {% for category in categories %}
                <li>
                    <a href="/categories/{{category.id}}">{{category.name}}</a>
                </li>
            {% endfor %}
        </ol>
    </main>
</body>
{% endblock %}