{% extends 'index.html' %}
{% block content %}
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <h6 class="card-title">{{ course.instructor_id }}</h6>
                <p class="card-text">{{ course.description }}</p>
                <form action="/enroll" method="post">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="hidden" name="course_id" value="{{course.id}}">
                    <button type="submit" class="btn btn-primary">Enroll</button>
                </form>
            </div>
        </div>
    <a class="btn btn-info" href="/courses">Back</a>
    </div>
{% endblock %}