{% extends 'index.html' %}

{% block content %}
<body class="container col-12 pt-4">
    <div class="d-flex flex-row align-items-center justify-content-center mb-5">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid" width="150px" height="150px">
        <h2 class="text-info"> Welcome To Learn App</h2>
    </div>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 ">
            <h1 class="text-light">All categories</h1>
                {% if course_user %}
                <ol class="navbar-nav">
                    {% for c in course_user %}
                        <div class="card-body bg-light">
                            <h5 class="card-title">{{ c.user_id }}</h5>
                            <h6 class="card-title">{{ c.name_course }}</h6>
                            <p class="card-text">{{ c.created_at }}</p>
                        </div>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
        </div>
        <ol>
            {% for category in categories %}
                <li>
                    <a href="/categories/{{category.id}}">{{category.name}}</a>
                </li>
            {% endfor %}
        </ol>
    </main>
</body>
{% endblock %}